.container--clique{
    background-color: green;
}

.productBrand {
    color: green;
}

.element--productsshelf {
    background-color: #DEDEDE;
    padding: 15px;
    justify-content: center;
    margin-bottom: 40px;
}


